<%-include("template/cabecera", {tituloWeb: "CRUD - Mascotera"}) %>

<body id="bodyxd2">
  

<div class="container bg-light">
  <h1 class="text-center my-2">🐶 Base de Datos: Mascotera 🐺<br>
                                      CRUD - MongoDB  </h1>

  <a class="btn btn-success btn-block my-4" href="/Mascotas/crear">CREAR</a>

    <table class="table ">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
            <% if (arrayMascotas.length > 0) { %>
                <% arrayMascotas.forEach(mascota => { %>
                    <tr>
                        <th scope="row"><%=mascota.id%> </th>
                        <td><%=mascota.nombre%></td>
                        <td><%=mascota.descripcion%></td>
                        <td><a href="Mascotas/<%=mascota.id%>" class="btn btn-warning btn-sm">Editar</a></td>
                      </tr>
                <% }) %>
               <% } %>
        </tbody>
      </table>

    <% if (arrayMascotas.length > 0) { %>
     <% arrayMascotas.forEach(mascota => { %>
        
     <% }) %>
    <% } %>
</div>
</body>




<%-include("template/footer") %>